.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
}

.card__likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.card__likes p {
  margin: 0;
  color: black;
}